<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>join</title>
</head>
<body>
    <h1>회원가입하기</h1>
    <hr/>
    <form action="/join" method="post">
       id: <input type="text" name="userId" placeholder="id를 입력하세요."><br/>
       이름: <input type="text" name="userName" placeholder="이름을 입력하세요."><br/>
       이메일: <input type="email" name="userEmail" placeholder="email 입력하세요."><br/>
       비밀번호: <input type="password" name="userPassword" placeholder="pw를 입력하세요."><br/>
       권한: <select name="userRole">
                <option value="ROLE_USER">사용자</option>
                <option value="ROLE_ADMIN">관리자</option>
            </select>
        <button type="submit">join</button>
    </form>
</body>
</html>